---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About'>
  <section class='layout min-h-main text-center'>
    <div class='py-8'>
      <h1 class='text-4xl font-bold'>About</h1>
      <div class='py-5 space-y-4'>
        <p>
          Inspired by
          <a class='text-red' href='https://airportcod.es/'>Airport Codes</a>,
          this website uses the
          <a
            class='text-red'
            href='https://www.nps.gov/subjects/developer/index.htm'
            >National Park Service’s API</a
          > (application programming interface) to fetch data from parks across the
          United States.
        </p>
        <p>
          Search for any park and access information such as address, phone
          number, email, and hours of operation.
        </p>
        <p>All photos are provided by the National Park Service.</p>
      </div>
    </div>
    <img
      class='pt-4 pb-10'
      src='/images/NPS-Transparent-Logo.png'
      alt='National Park Service logo'
    />
  </section>
</Layout>
