---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Footer from '../components/Footer';
---

<Layout title='What The Park'>
  <Navbar />
  <h1>Init</h1>
  <Footer />
</Layout>
